body{
    background-color: #dbdbdb; 
    color: black;
}

h1,h3{
    color: #66bfbf;
}


hr{
    border-style: dotted;
    border-bottom: none;
    border-width: 10px;
    width: 4%;
}

img{
    height: 200px;
}
